.k-overlay { background-color: #F0F0F0; }
.file-icon
{   display: inline-block;
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 4.5px;
}
.img-file { background-image: url(../img/admin/jpg.png) }
.doc-file { background-image: url(../img/admin/doc.png) }
.pdf-file { background-image: url(../img/admin/pdf.png) }
.xls-file { background-image: url(../img/admin/xls.png) }
.zip-file { background-image: url(../img/admin/zip.png) }
.default-file { background-image: url(../img/admin/default.png) }
.file-heading
{   font-size: 1.1em;
    display: block;
    //width: 450px;
    margin: 0 0 0 20px;
    height: 25px;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.file-name-heading { font-weight: bold; }
.file-size-heading { font-weight: normal; font-style: italic; }
li.k-file .file-wrapper .k-upload-action { position: absolute; top: 0; right: 0; }
li.k-file div.file-wrapper { position: relative; height: 65px; }
.k-upload-files { line-height: 2.2; }
.k-upload-action.k-button.k-button-bare { min-width: inherit; }
.k-button.k-upload-selected { margin: 0 .7em .7em }
.k-file-success .k-progress { background-color: #ddffd0; }
.k-file-success { color: #28760b; }

.k-widget.k-tooltip.k-tooltip-validation.k-invalid-msg { margin-top: 3px}

.k-edit-form-container .k-edit-label { width: 20% !important; }
.k-edit-form-container .k-edit-field { width: 73% !important; }
.k-edit-form-container .k-edit-buttons { position: static; }

.k-multiselect-wrap li { margin: 1px 0 1px 1px !important; }

#change_intellectual_property .k-edit-field #authors_multiselect { width: 501px; display: inline-block}
#change_intellectual_property .k-edit-field .k-button.add_author {position: absolute; line-height: 1.8em; }

span.logout { margin: 7px !important; }