span.logout { margin: 7px !important; }

.k-edit-form-container .k-edit-label { width: 20% !important; }
.k-edit-form-container .k-edit-field { width: 73% !important; }
.k-edit-form-container .k-edit-buttons { position: static; }
