{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Администратор{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/admin.css" %}" >
{% endblock %}
{% block script %}
    <script src="{% static "js/kendo/kendo.web.min.js" %}"></script>
    <script src="{% static "js/kendo/cultures/kendo.culture.ru-RU.min.js" %}"></script>
    <script src="{% static "js/admin.js" %}"></script>
    <script src="{% static "js/noty/layouts/center.js" %}"></script>
{% endblock %}
{% block header %}
    <span id="logout" class="logout fright k-button" ><i class="fa fa-sign-out"></i> Выход</span>
{% endblock %}
{% block content %}
    <div id="tab_strip">
            <ul>
                <li >
                    <i class="fa fa-home"></i> Подразделение
                </li>
                <li>
                    <i class="fa fa-group"></i> Авторы
                </li>
{#                <li>#}
{#                    <i class="fa fa-list"></i> Виды интеллектуальных прав#}
{#                </li>#}
{#                <li>#}
{#                    <i class="fa fa-code-fork"></i> Направления#}
{#                </li>#}
{#                <li>#}
{#                    <i class="fa fa-tags"></i> Ключевые слова#}
{#                </li>#}
                <li class="k-state-active">
                    <i class="fa fa-lightbulb-o"></i> База интелектуальной собственности
                </li>
            </ul>
            <div>
                <div id="subdivision"></div>
            </div>
            <div>
                <div id="authors"></div>
            </div>
{#            <div>#}
{#                <div id="document_types"></div>#}
{#            </div>#}
{#            <div>#}
{#                <div id="directions"></div>#}
{#            </div>#}
{#            <div>#}
{#                <div id="tags"></div>#}
{#            </div>#}
            <div>
                <div id="intellectual_property"></div>
            </div>
    </div>

{#    шаблоны window#}
    <div id="change_intellectual_property_window" style="display: none">
        <div id="change_intellectual_property" class="k-edit-form-container" style="width: inherit;">
            <div class="k-edit-label">
                <label>Наименование<span class="required">*</span>:</label>
            </div>
            <div class="k-edit-field">
                <input type="text" class="k-textbox" name="name" required placeholder="Наименование" style="width: 100%"
                       data-bind="value: name"/>
            </div>
            <div class="k-edit-label">
                <label>Код<span class="required">*</span>:</label>
            </div>
            <div class="k-edit-field">
                <input type="text" class="k-textbox" name="code" required placeholder="Код" style="width: 100%"
                       data-bind="value: code"/>
            </div>
            <div class="k-edit-label">
                <label>Вид ИС:</label>
            </div>
            <div class="k-edit-field">
                <select data-role="combobox" name="doc_type" style="width: 100%"
                        data-placeholder="Выберите из списка или введите новое значение"
                        data-filter="contains"
                        data-text-field="name" data-value-field="doc_type_id"
                        data-bind="source: doc_types, value: doc_type" >
                </select>
            </div>
            <div class="k-edit-label">
                <label >Дата начала отсчета срока действия:</label>
            </div>
            <div class="k-edit-field">
                <input id="start_date" style="width: 100%"/>
            </div>
            <div class="k-edit-label">
                <label >Дата публикации:</label>
            </div>
            <div class="k-edit-field">
                <input id="public_date" style="width: 100%"/>
            </div>
            <div class="k-edit-label">
                <label >Срок действия патента истекает:</label>
            </div>
            <div class="k-edit-field">
                <input id="end_date" style="width: 100%" />
            </div>
            <div class="k-edit-label">
                <label >Направление:</label>
            </div>
            <div class="k-edit-field">
                <select data-role="combobox" name="direction" style="width: 100%"
                        data-placeholder="Выберите из списка или введите новое значение"
                        data-filter="contains"
                        data-text-field="name" data-value-field="direction_id"
                        data-bind="source: directions, value: direction" >
                </select>
            </div>
            <div class="k-edit-label">
                <label>Авторы:</label>
            </div>
            <div class="k-edit-field">
                <div id="authors_multiselect" ></div>
                <span class="k-button add_author for_i_p"><span class="k-icon k-i-plus"></span></span>
            </div>
            <div class="k-edit-label">
                <label>Ключевые слова:</label>
            </div>
            <div class="k-edit-field">
               <input name="tags_autocomplete" data-role="autocomplete" style="width: 100%"
                    data-placeholder="Через запятую укажите несколько ключевых слов"
                    data-text-field="name"
                    data-filter="contains"
                    data-separator=", "
                    data-bind="value: tags,
                               source: tags_source" > </input>
            </div>
            <div style="clear: both"></div>
            <input type="file" name="file_uploader" id="file_uploader" />
            <input type="hidden" id="is_intellectual_property_edit" value="false">
            <div class="k-edit-buttons k-state-active">
                <a class="k-button k-button-icontext k-grid-update" id="intellectual_property_save" href="#">
                    <span class="k-icon k-update"></span>Сохранить
                </a>
                <a class="k-button k-button-icontext k-grid-cancel" id="intellectual_property_cancel" href="#">
                    <span class="k-icon k-cancel"></span>Отмена
                </a>
            </div>
        </div>
    </div>

    <div id="change_subdivision_window" style="display: none">
        <div id="change_subdivision" class="k-edit-form-container" style="width: inherit;">
            <div class="k-edit-label">
                <label>Название<span class="required">*</span>:</label>
            </div>
            <div class="k-edit-field">
                <input type="text" class="k-textbox" name="name" required placeholder="Название" style="width: 100%"
                       data-bind="value: name"/>
            </div>
            <div class="k-edit-label">
                <label>Телефон:</label>
            </div>
            <div class="k-edit-field">
                <input type="text" class="k-textbox" name="tel" placeholder="Телефон" style="width: 100%"
                       data-bind="value: tel"/>
            </div>
            <input type="hidden" id="is_subdivision_edit" value="false">
            <div class="k-edit-buttons k-state-default">
                <a class="k-button k-button-icontext k-grid-update" id="subdivision_save" href="#">
                    <span class="k-icon k-update"></span>Сохранить
                </a>
                <a class="k-button k-button-icontext k-grid-cancel" id="subdivision_cancel" href="#">
                    <span class="k-icon k-cancel"></span>Отмена
                </a>
            </div>
        </div>
    </div>

    <div id="change_author_window" style="display: none">
        <div id="change_author" class="k-edit-form-container" style="width: inherit;">
            <div class="k-edit-label">
                <label>Фамилия<span class="required">*</span>:</label>
            </div>
            <div class="k-edit-field">
                <input type="text" class="k-textbox" name="surname" required placeholder="Фамилия" style="width: 100%"
                       data-bind="value: surname"/>
            </div>
            <div class="k-edit-label">
                <label>Имя<span class="required">*</span>:</label>
            </div>
            <div class="k-edit-field">
                <input type="text" class="k-textbox" name="name" required placeholder="Имя" style="width: 100%"
                       data-bind="value: name"/>
            </div>
            <div class="k-edit-label">
                <label>Отчество:</label>
            </div>
            <div class="k-edit-field">
                <input type="text" class="k-textbox" name="patronymic" placeholder="Отчество" style="width: 100%"
                       data-bind="value: patronymic"/>
            </div>
            <div class="k-edit-label">
                <label>Учёные степени и звания:</label>
            </div>
            <div class="k-edit-field">
                <input type="text" class="k-textbox" name="post" placeholder="Учёные степени и звания" style="width: 100%"
                       data-bind="value: post"/>
            </div>
            <div class="k-edit-label">
                <label>Телефон:</label>
            </div>
            <div class="k-edit-field">
                <input type="text" class="k-textbox" name="tel" placeholder="Телефон" style="width: 100%"
                       data-bind="value: tel"/>
            </div>
            <div class="k-edit-label">
                <label>Эллектронный адресс:</label>
            </div>
            <div class="k-edit-field">
                <input type="text" class="k-textbox" name="mail" placeholder="Эллектронный адресс" style="width: 100%"
                       data-bind="value: mail"/>
            </div>
            <div class="k-edit-label">
                <label>Подразделение:</label>
            </div>
            <div class="k-edit-field">
                <select data-role="dropdownlist"  id="author_subdivision" name="author_subdivision" style="margin: 3px 0 1px; width: 100%"
                        data-option-label="Выберите подразделение..."
                        data-text-field="name"
                        data-value-field="subdivision_id"
                        data-bind="value: subdivision, source: subdivisions"  ></select>
                <select data-role="dropdownlist" id="city" data-cascade-from="author_subdivision" name="author_department" style="margin: 3px 0 1px; width: 100%"
                        data-option-label="Выберите отдел..."
                        data-text-field="name"
                        data-value-field="department_id"
                        data-bind="value: department, source:departments" ></select>
            </div>
            <input type="hidden" id="is_author_edit" value="false">
            <input type="hidden" id="is_for_i_p" value="false">
            <div class="k-edit-buttons k-state-active">
                <a class="k-button k-button-icontext k-grid-update" id="author_save" href="#">
                    <span class="k-icon k-update"></span>Сохранить
                </a>
                <a class="k-button k-button-icontext k-grid-cancel" id="author_cancel" href="#">
                    <span class="k-icon k-cancel"></span>Отмена
                </a>
            </div>
        </div>
    </div>

{#    <div id="change_document_types_window" style="display: none">#}
{#        <div id="change_document_types" class="k-edit-form-container" style="width: inherit;">#}
{#            <div class="k-edit-label">#}
{#                <label>Название<span class="required">*</span>:</label>#}
{#            </div>#}
{#            <div class="k-edit-field">#}
{#                <input type="text" class="k-textbox" name="name" required placeholder="Название" style="width: 100%"#}
{#                       data-bind="value: name"/>#}
{#            </div>#}
{#            <input type="hidden" id="is_document_types_edit" value="false">#}
{#            <div class="k-edit-buttons k-state-default">#}
{#                <a class="k-button k-button-icontext k-grid-update" id="document_types_save" href="#">#}
{#                    <span class="k-icon k-update"></span>Сохранить#}
{#                </a>#}
{#                <a class="k-button k-button-icontext k-grid-cancel" id="document_types_cancel" href="#">#}
{#                    <span class="k-icon k-cancel"></span>Отмена#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    <div id="change_directions_window" style="display: none">#}
{#        <div id="change_directions" class="k-edit-form-container" style="width: inherit;">#}
{#            <div class="k-edit-label">#}
{#                <label>Название<span class="required">*</span>:</label>#}
{#            </div>#}
{#            <div class="k-edit-field">#}
{#                <input type="text" class="k-textbox" name="name" required placeholder="Название" style="width: 100%"#}
{#                       data-bind="value: name"/>#}
{#            </div>#}
{#            <input type="hidden" id="is_directions_edit" value="false">#}
{#            <div class="k-edit-buttons k-state-default">#}
{#                <a class="k-button k-button-icontext k-grid-update" id="directions_save" href="#">#}
{#                    <span class="k-icon k-update"></span>Сохранить#}
{#                </a>#}
{#                <a class="k-button k-button-icontext k-grid-cancel" id="directions_cancel" href="#">#}
{#                    <span class="k-icon k-cancel"></span>Отмена#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    <div id="tags_window" style="display: none">#}
{#        <div id="change_tags" class="k-edit-form-container" style="width: inherit;">#}
{#            <div class="k-edit-label">#}
{#                <label>Название<span class="required">*</span>:</label>#}
{#            </div>#}
{#            <div class="k-edit-field">#}
{#                <input type="text" class="k-textbox" name="name" required placeholder="Название" style="width: 100%"#}
{#                       data-bind="value: name"/>#}
{#            </div>#}
{#            <input type="hidden" id="is_tags_edit" value="false">#}
{#            <div class="k-edit-buttons k-state-default">#}
{#                <a class="k-button k-button-icontext k-grid-update" id="tags_save" href="#">#}
{#                    <span class="k-icon k-update"></span>Сохранить#}
{#                </a>#}
{#                <a class="k-button k-button-icontext k-grid-cancel" id="tags_cancel" href="#">#}
{#                    <span class="k-icon k-cancel"></span>Отмена#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    /шаблоны window#}

{#    шаблоны detail#}
    <script type="text/x-kendo-template" id="subdivision_detail_template">
        <div id="department"><div>
    </script>

    <script type="text/x-kendo-template" id="intellectual_property_detail_template">
        <input type="file" name="files" id="files" />
    </script>
    <script id="fileTemplate" type="text/x-kendo-template">
        <span class='k-progress'></span>
        <div class='file-wrapper'>
            <span class='file-icon #=addExtensionClass(files[0].extension)#'></span>
            <h4 class='file-heading file-name-heading'>Имя: #=name#</h4>
            <h4 class='file-heading file-size-heading'>Размер: #=Math.round((size/1024)*100)/100# Кбайт</h4>
            <button type='button' class='k-upload-action'></button>
        </div>
    </script>
{#    /шаблоны detail#}

{#    шаблоны header#}
    <script type="text/x-kendo-template" id="subdivision_header_template">
        <span class="k-button add_subdivision"><span class="k-icon k-i-plus"></span> Добавить подразделение</span>
        <span class="k-button reload_subdivision" title="Перезагрузить таблицу"><span class="k-icon k-i-refresh"></span></span>
    </script>

    <script type="text/x-kendo-template" id="department_header_template">
        <span class="k-button add_department"><span class="k-icon k-i-plus"></span> Добавить отдел</span>
        <span class="k-button reload_department" title="Перезагрузить таблицу"><span class="k-icon k-i-refresh"></span></span>
    </script>

    <script type="text/x-kendo-template" id="authors_header_template">
        <span class="k-button add_author"><span class="k-icon k-i-plus"></span> Добавить автора</span>
        <span class="k-button reload_author" title="Перезагрузить таблицу"><span class="k-icon k-i-refresh"></span></span>
    </script>

{#    <script type="text/x-kendo-template" id="document_types_header_template">#}
{#        <span class="k-button add_document_type"><span class="k-icon k-i-plus"></span> Добавить</span>#}
{#        <span class="k-button reload_document_type" title="Перезагрузить таблицу"><span class="k-icon k-i-refresh"></span></span>#}
{#    </script>#}
{##}
{#    <script type="text/x-kendo-template" id="directions_header_template">#}
{#        <span class="k-button add_direction"><span class="k-icon k-i-plus"></span> Добавить направление</span>#}
{#        <span class="k-button reload_direction" title="Перезагрузить таблицу"><span class="k-icon k-i-refresh"></span></span>#}
{#    </script>#}

    <script type="text/x-kendo-template" id="intellectual_property_header_template">
        <span class="k-button add_intellectual_property"><span class="k-icon k-i-plus"></span> Добавить</span>
        <span class="k-button reload_intellectual_property" title="Перезагрузить таблицу"><span class="k-icon k-i-refresh"></span></span>
    </script>

{#    <script type="text/x-kendo-template" id="tags_header_template">#}
{#        <span class="k-button add_tags"><span class="k-icon k-i-plus"></span> Добавить</span>#}
{#        <span class="k-button reload_tags" title="Перезагрузить таблицу"><span class="k-icon k-i-refresh"></span></span>#}
{#    </script>#}
{#    /шаблоны header#}
{% endblock %}