{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}БД интеллектуальной собственности{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/user.css" %}" >
{% endblock %}
{% block script %}
    <script src="{% static "js/kendo/kendo.web.min.js" %}"></script>
    <script src="{% static "js/kendo/cultures/kendo.culture.ru-RU.min.js" %}"></script>
    <script src="{% static "js/user.js" %}"></script>
    <script src="{% static "js/noty/layouts/center.js" %}"></script>
    <script src="{% static "js/file_donload/jquery.fileDownload.js" %}"></script>
{% endblock %}
{% block header %}
    <div id="header_buttons">
        <span id="logout" class="logout fright k-button" ><i class="fa fa-sign-out"></i> Выход</span>
    </div>
{% endblock %}
{% block content %}

    <div class="section search_section">
        <div id="search_by_word">
            <form id="search_textbox">
                <p> <span id="search" class="k-button fright"><span class="k-icon k-i-search"></span></span> <input id="search_query" /></p>
                <p><label for="doc_type" class="fleft">Искать среди: </label><input id="doc_type"/></p>
{#                <div class="clearfix"></div>#}
            </form>
        </div>
        <div id="search_switcher"></div>
        <div id="search_by_author" >
            <div id="search_tree" style="overflow-x: hidden;"></div>
        </div>
    </div>
    <div class="section result_section">
        <div class="result_header_buttons">
            <span id="show_directory_grid" class="k-button fright" title="Открыть"  href="#"><i class="fa fa-folder-o"></i> Каталоги</span>
            <span id="download" title="Скачать выбранные ИС" class="k-button"><i class="fa fa-download"></i> Скачать</span>
            <span id="add_directory" class="k-button">
{#                <span class="fa-stack">#}
{#                <i class="fa fa-folder-o fa-stack-1x"></i>#}
{#                <i class="fa fa-plus fa-stack-1x text-danger"></i></span>#}
                <i class="fa fa-plus-square-o"></i>
                Добавить в каталог</span>
        </div>
        <div id="result"></div>
        <div id="pager" class="k-pager-wrap"></div>
    </div>

    <div id="change_directory_window" style="display: none">
        <div id="change_directory" class="k-edit-form-container" style="width: inherit;">
            <div class="k-edit-label">
                <label>Название<span class="required">*</span>:</label>
            </div>
            <div class="k-edit-field">
                <input type="text" class="k-textbox" name="name" required placeholder="Название" style="width: 100%"
                       data-bind="value: name"/>
                <span class="k-invalid-msg" data-for="name"></span>
            </div>
            <input type="hidden" id="is_directory_edit" value="false">
            <div class="k-edit-buttons k-state-default">
                <a class="k-button k-button-icontext k-grid-update" id="directory_save" href="#">
                    <span class="k-icon k-update"></span>Сохранить
                </a>
                <a class="k-button k-button-icontext k-grid-cancel" id="directory_cancel" href="#">
                    <span class="k-icon k-cancel"></span>Отмена
                </a>
            </div>
        </div>
    </div>

    <div id="directory_window" style="display: none">
        <div class="k-edit-form-container" style="width: inherit;">
            <div id="download_directory"></div>
            <div class="k-edit-buttons k-state-default">
                <a class="k-button k-button-icontext k-grid-cancel" id="download_directory_close" href="#">
                    <span class="k-icon k-cancel"></span>Закрыть
                </a>
            </div>
        </div>
    </div>

    <script type="text/x-kendo-tmpl" id="tree_item_template">
        #if (item.type == "subdivision") {#
            <span >
                <span data-id="#=item.id#" data-type="#=item.type#" title="#=item.name#" class="tree-item">
                    <i class="fa fa-building-o"> </i> #=item.name#
                </span>
            </span>
        #} else if (item.type == "department") {#
            <span >
                <span data-id="#=item.id#" data-type="#=item.type#" title="#=item.name#" class="tree-item">
                    <i class="fa fa-users"> </i> #=item.name#
                </span>
            </span>
        #} else {#
            <span >
                # fio = [item.surname,item.name,item.patronymic].join(' ') #
                <span data-id="#=item.id#" data-type="#=item.type#" title="#=fio#" class="tree-item">
                    <i class="fa fa-user"> </i> #=fio#
                </span>
            </span>
        #} #
    </script>

    <script type="text/x-kendo-template" id="result_item_template">
        <div class="intellectual_property_item section" >
            <div class="fright">
            <span class="k-button open-item" data-id="#=intellectual_property_id#">Открыть</span>
            # if (has_files) {
                if (data.in_download_list) { #
                       <span class="k-button select-item k-state-selected" data-id="#=intellectual_property_id#">Отмена</span>
                   # } else { #
                       <span class="k-button select-item" data-id="#=intellectual_property_id#">Выбрать</span>
                   # }
            } else  { #
                <span class="k-button k-state-disabled" data-id="#=intellectual_property_id#" title="Нет прикрепленных файлов">Выбрать</span>
            # } #
            </div>
            <div><span class="item_header">#=code# #=name# (#=doc_type.name#)</span>
            <p>Направление: #=direction.name#</p>
            #for(var i=0;i<authors.length;i++)  { #  <span class="author"> #=authors[i].name#,</span> # }#
            <p> #for(var i=0;i<tags.length;i++)  { #  <span class="tag">#=tags[i].name#</span> # }#</p></div>
        </div>
    </script>
{% endblock %}