{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}БД интеллектуальной собственности{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/user.css" %}" >
{% endblock %}
{% block script %}
    <script src="{% static "js/kendo/kendo.web.min.js" %}"></script>
    <script src="{% static "js/kendo/cultures/kendo.culture.ru-RU.min.js" %}"></script>
    <script src="{% static "js/user.js" %}"></script>
    <script src="{% static "js/noty/layouts/center.js" %}"></script>
{% endblock %}
{% block header %}
    <a class="logout k-button" href="/logout"><i class="fa fa-sign-out"></i> Выход</a>
{% endblock %}
{% block content %}
    <div class="section search_section">
        <div id="search_by_word">
            <form id="search_textbox">
                <p> <span id="search" class="k-button fright"><span class="k-icon k-i-search"></span></span> <input id="search_query" /></p>
                <p><label for="doc_type" class="fleft">Искать среди: </label><input id="doc_type"/></p>
{#                <div class="clearfix"></div>#}
            </form>
        </div>
        <div id="search_switcher"></div>
        <div id="search_by_author" >
            <div id="search_tree" style="overflow-x: hidden;"></div>
        </div>
    </div>
    <div class="section result_section">
        <div id="result"></div>
        <div id="pager" class="k-pager-wrap"></div>
    </div>
    <script type="text/x-kendo-tmpl" id="tree_item_template">
        #if (item.type == "subdivision") {#
            <span >
                # item.expanded = true; #
                <span data-id="#=item.id#" data-type="#=item.type#" title="#=item.name#" class="tree-item">
                    <i class="fa fa-building-o"> </i> #=item.name#
                </span>
            </span>
        #} else if (item.type == "department") {#
            <span >
                <span data-id="#=item.id#" data-type="#=item.type#" title="#=item.name#" class="tree-item">
                    <i class="fa fa-users"> </i> #=item.name#
                </span>
            </span>
        #} else {#
            <span >
                # fio = [item.surname,item.name,item.patronymic].join(' ') #
                <span data-id="#=item.id#" data-type="#=item.type#" title="#=fio#" class="tree-item">
                    <i class="fa fa-user"> </i> #=fio#
                </span>
            </span>
        #} #
    </script>

    <script type="text/x-kendo-template" id="result_item_template">
        <div class="intellectual_property_item section" data-id="#=intellectual_property_id#">
            <span class="header">#=name# (#=doc_type.name#)</span>
            <p>Направление: #=direction.name#</p>
            #for(var i=0;i<authors.length;i++)  { #  <span> #=authors[i].name#,</span> # }#
            <p> #for(var i=0;i<tags.length;i++)  { #  <span class="tag"> #=tags[i].name#</span> # }#</p>
        </div>
    </script>
{% endblock %}